<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BlueVacationEntities" connectionString="metadata=res://*/MODEL.csdl|res://*/MODEL.ssdl|res://*/MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=strongsoft.wicp.net,2866;initial catalog=BlueVacation;persist security info=True;user id=sa;password=qjkj@2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>